
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class=" navu navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BlueBus</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto"> <!-- Use me-auto to push items to the left -->
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Account</a>
          </li> -->
          
        </ul>@if(userID){
          <div class="user-info">
            <h3>{{ currUser?.name }}</h3>
            
          </div>
          <button type="button" class="btn btn-outline-danger" (click)="logout()">Logout</button>
        }@else {
          <button type="button" class="btn btn-outline-success" (click)="openModal()">Login</button> 

        }
  
         <!-- This button will now be on the right -->
      </div>
    </div>
  </nav>
  
  

  <div class="modal" [ngClass]="{'show': isModalOpen}" *ngIf="isModalOpen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{ isLogin ? 'Login' : 'Signup' }}</h1>
        <button type="button" (click)="closeModal()" class="btn-close">&times;</button>
      </div>
      <div class="modal-body">
        <form *ngIf="isLogin; else signupTemplate" (ngSubmit)="onLogin()">
          <label for="username">Username:</label>
          <input type="text" id="username" class="form-control form-spacing" [(ngModel)]="User.name" name="username" required>
  
          <label for="password">Password:</label>
          <input type="password"  [(ngModel)]="User.password"  id="password"  name="password" required>
  
          <button type="submit">Login</button>
        </form>
  
        <ng-template #signupTemplate>
          <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
            <label for="signupUsername">Username:</label>
            <input type="text" id="signupUsername" formControlName="name" name="signupUsername" required minlength="3">
  
            <label for="email">Email ID:</label>
            <input type="email" id="email" formControlName="email" name="email" required>
  
            <label for="signupPassword">Password:</label>
            <input type="password" id="signupPassword"  formControlName="password" name="signupPassword" required minlength="6">
  
            <label for="gender">Gender:</label>
            <select id="gender" formControlName="gender" name="gender" required>
              <option value="">Select</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
  
            <label for="age">Age:</label>
            <input type="number" id="age" formControlName="age" name="age" required min="18">
  
            <label for="contactNumber">Contact Number:</label>
            <input type="tel" id="contactNumber"  formControlName="phone" name="contactNumber" required pattern="[0-9]{10}">
  
            <button type="submit">Sign Up</button>
          </form>
        </ng-template>
  
        <!-- Switch between Login and Signup -->
        <p *ngIf="isLogin">Don't have an account? 
          <button (click)="toggleToSignup()">Sign Up</button></p>
        <p *ngIf="!isLogin">Already have an account? 
          <button (click)="toggleToLogin()">Login</button></p>
      </div>
    </div>
  </div>
  

  
  
  
  
  
  <router-outlet></router-outlet>
  
</body>
</html>