<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Buses</title>
    <link rel="stylesheet" href="search-bus.component.css"> 
</head>
<body>
    <div class="container">
        <h1>Available Buses</h1>
        <div class="content">
            <aside class="sidebar">
                <h2>Filters</h2>
                <div class="filter-group">
                    <h3>Amenities</h3>
                    <label>
                        <input type="checkbox"> Wi-Fi
                    </label>
                    <label>
                        <input type="checkbox"> Air Conditioning
                    </label>
                    <label>
                        <input type="checkbox"> TV
                    </label>

                    <h3>Departure Time</h3>
                    <input type="time">

                    <h3>Arrival Time</h3>
                    <input type="time">

                    <h3>Price Range</h3>
                    <input type="range" min="0" max="1000">
                    <span> Rs.</span>
                </div>
            </aside>
            <main class="bus-list">
                <div *ngFor="let bus of buses" class="bus-card">
                    <div class="bus-name">{{ bus.operator }}</div>
                    <div class="bus-details">
                        <div class="detail time2"><strong>Departure Time:</strong> {{ bus.deptTime }}</div>
                        <div class="detail time-value">{{ calculateTimeDifference(bus.arrTime, bus.deptTime) }}</div>
                        <div class="detail time1"><strong>Arrival Time:</strong> {{ bus.arrTime }}</div>
                        <div class="detail d2"><strong>Price:</strong> <div class="price">{{ bus.price }} Rs.</div></div>
                        
                    </div>
                    <button (click)="selectBus(bus)" [routerLink]="['/seats',bus.id]">Book Now</button> <!-- Pass bus object here -->
                </div>
            </main>

                

                <!-- Add more bus cards as needed -->
            
        </div>
    </div>
</body>
</html>
