<body>
  <div>
    <header class="my-4">
      <h3 class="text-center">Book Bus Tickets</h3>
    </header>
    <section>
      <div class="container mt-5 p-4 bg-light rounded shadow-sm">
        <form [formGroup]="busForm" (ngSubmit)="getBuses()">
          <div class="row mb-3">
            <div class="col-md-4">
              <p-dropdown
                formControlName="source"
                [options]="source"
                placeholder="From Station"
                class="form-control"
              ></p-dropdown>
              <div *ngIf="busForm.get('source')?.touched && busForm.get('source')?.invalid" class="text-danger">
                * Departure city is required
              </div>
            </div>

            <div class="col-md-4">
              <p-dropdown
                formControlName="destination"
                [options]="destination"
                placeholder="To Station"
                class="form-control"
              ></p-dropdown>
              <div *ngIf="busForm.get('destination')?.touched && busForm.get('destination')?.invalid" class="text-danger">
                * Arrival city is required
              </div>
            </div>

            <div class="col-md-4">
              <p-calendar
                class="form-date"
                formControlName="date"
                [showIcon]="true"
                [minDate]="minDate"
                placeholder="Date"
                class="form-control"
              ></p-calendar>
              <div *ngIf="busForm.get('date')?.touched && busForm.get('date')?.invalid" class="text-danger">
                * Date is required
              </div>
            </div>
            
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary px-5" [disabled]="busForm.invalid">
              Search Buses
            </button>
            
          </div>
        </form>
      </div>

      <!-- Discount Offers Section -->
      <div class="mt-5">
       
        <div class="d-flex justify-content-around">
          <div class="offer-card p-3 border rounded shadow-sm">
            <img src="assets/offer1.png" alt="Offer 1" class="img-fluid">
            <p>Upto ₹500 off on bus bookings. Code: WEDDINGS</p>
          </div>
          <div class="offer-card p-3 border rounded shadow-sm">
            <img src="assets/offer2.png" alt="Offer 2" class="img-fluid">
            <p>Get ₹400 off on your first bus booking. Code: ABHIFIRST</p>
          </div>
          <div class="offer-card p-3 border rounded shadow-sm">
            <img src="assets/offer3.png" alt="Offer 3" class="img-fluid">
            <p>Flat 10% off on Orange Travels. Code: ORANGE10</p>
          </div>
          <div class="offer-card p-3 border rounded shadow-sm">
            <img src="assets/offer4.png" alt="Offer 4" class="img-fluid">
            <p>Flat ₹200 off with ICICI Bank Cards. Code: ICICI200</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
