.form-group {
  /* height: 80%; */
  padding: 20px;
  margin-left: 58%;
  /* width: 120%; */
}

.button {
  border-radius: 20px;
  width: 20%;
  margin-left: 75%;
}

.form-date{
  border-radius: 20px;
  width: 20%;
  margin-left: 60%;
}

body {
  background-image: url(../../../../public/bus5-Photoroom.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

header {
  color: white;
}

button:hover {
  background-color: #0056b3;
  color: white;
}
