<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Confirmation</title>
    <link rel="stylesheet" href="ticket.component.css"> 
</head>

<body>
    <main *ngIf="reservation">
        <section class="ticket-confirmation">
            <h2>Ticket Confirmation Details</h2>
            <article class="ticket-details">
                <p><strong>Name:</strong> {{ ticket.name }}</p>
                <p><strong>Departure City:</strong> {{ routeData.source}}</p>
                <p><strong>Arrival City:</strong> {{ routeData.destination }}</p>
                <p><strong>Bus Number:</strong> {{ busData.busNumber}}</p>
                <p><strong>Bus Type:</strong> {{ busData.busType }}</p>
                <p><strong>Bus Name:</strong> {{ busData.operator }}</p>
                <p><strong>Departure Time:</strong> {{ busData.deptTime }}</p>
                <p><strong>Arrival Time:</strong> {{ busData.arrTime }}</p>
                <p><strong>Total Fare:</strong> {{ busData.price }}</p>
                <p><strong>Date of Journey:</strong> {{ reservation.reservationDate }}</p>
                <p><strong>Seat Number:</strong> {{ reservation.seatNumber }}</p>
                <p><strong>Gender:</strong> {{ ticket.gender }}</p>
                <p><strong>Contact Details:</strong> {{ ticket.contactDetails }}</p>
                <p><strong>State of Residence:</strong> {{ ticket.stateOfResidence }}</p>
                <br><br>
                <p *ngIf="ticket.donation === true">
                    Thank you for donating money for children welfare!
                   
                  </p> <br><br>
                <button (click)="saveTicketData()">Confirm</button>
            </article>
        </section>
       
    </main>
</body>

</html>
